<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Editar Coordinador</title>
    <style>
        body {
            background-color: #283747;
            color: white;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-container {
            background-color: rgba(0, 0, 0, 0.5); 
            padding: 20px;
            border-radius: 10px; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
    <header class="navbar-custom">
        {% include 'navbarAdmin.html' %}
    </header>
    <div class="container text-center" style="margin-top: 70px;">
        <div>
            <h1>Editar Coordinador</h1>
        </div>
        <br>
        <div id="tablaContainer">
            <form method="post" action="{% url 'UpdateCoordinador' id_coordinador=coordinador.id %}">
                {% csrf_token %}
                <div class="form-container" style="width: 500px;">
                    <div class="mb-3">
                        <label for="id_docente" class="form-label">ID Docente:</label>
                        <input type="text" class="form-control" id="id_docente" name="id_docente" value="{{ coordinador.id_docente }}" required>
                    </div>
                    <button class="btn btn-custom type1" type="submit">Actualizar Coordinador</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
